body {
  margin: 0px;
}

/**************************************
 Navigation
**************************************/
#navigation .MuiInputBase-input {
  width: 135px;
  color: white;
  font-size: 24px;
}
#navigation .MuiInputBase-input:hover {
  cursor: pointer;
}

/**************************************
 Calendar
**************************************/
.calendar-item {
  border: 1px solid #ccc;
  border-right: none;
}
/* 日〜土曜日 */
.calendar-item:nth-child(n + 1):nth-child(-n + 7) {
  border-bottom: none;
}
/* 曜日(7) + 1週間(7)*6行 = 49 */
.calendar-item:nth-child(n + 8):nth-child(-n + 49) {
  border-top: none;
}
.calendar-item:nth-child(7n) {
  border-right: 1px solid #ccc;
}
.calendar-item:nth-child(n + 8):nth-child(-n + 49):hover {
  cursor: pointer;
}

.calendar-item .today {
  display: inline-block;
  line-height: 24px;
  width: 24px;
  color: #fff;
  border-radius: 50%;
  background-color: #3f51b5;
}

/**************************************
 Schedule
**************************************/
.schedule-list {
  margin-top: 3px;
  padding-left: 4px;
  overflow: scroll;
}
.schedule-item {
  margin-bottom: 2px;
  padding: 1px 6px;
  border-radius: 10px;
  background-color: #3f51b5;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**************************************
 Schedule Form
**************************************/
.schedule-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.schedule-form .MuiPaper-root {
  position: relative;
}
.schedule-form .MuiPaper-root .close-button {
  position: absolute;
  top: 3px;
  right: 3px;
}
.schedule-form .MuiPaper-root .delete-button {
  position: absolute;
  top: 3px;
  right: 50px;
}
.schedule-form .MuiDialogContent-root {
  width: 540px;
  margin-top: 40px;
}
.schedule-form .MuiDialogContent-root > div {
  height: 64px;
  margin-top: 8px;
}
.schedule-form .MuiDialogContent-root > div:first-child {
  height: auto;
  margin-top: 0px;
}
.schedule-form .MuiDialogContent-root input {
  width: 450px;
}
.schedule-form .MuiDialogContent-root > div:first-child input,
.schedule-form .MuiDialogContent-root > div:first-child label {
  font-size: 24px;
}
