body {
  margin: 0px;
}

/**************************************
 Navigation
**************************************/
#navigation .MuiInputBase-input {
  width: 135px;
  color: white;
  font-size: 24px;
}
#navigation .MuiInputBase-input:hover {
  cursor: pointer;
}
